body{
    background-color: black;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

.titulo{
    color: white;
    text-align: center;
    margin-top: 1%;
    font-weight: 600;
    font-size: 280%;
}

.content {
    position: relative;
}

.nav{
    text-align: center;
    margin: 1% 5%;
}

.txt{
    font-weight: 100;
    color: white;
}

.txt:hover{
    color: white;
    text-decoration: underline
}